*, *::after, *::before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
	background-color: #ffffff;
	color: #333;
}

body {
	margin: 0;
}

.wrapper {
	overflow: hidden;
}

.container {
	width: 1120px;
	margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

a, .link {
	text-decoration: none;
	color: #413d4b;
}

a:hover {
	text-decoration: none;
} 

img {
	width: 100%;
	height: auto;
}

ul {
	padding: 0;
}

p, ul, ol, figure {
	margin: 0 0 15px 0;
}


ul > li > ol,
ul > li > ul,
ol > li > ol,
ol > li > ul {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 28px;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6  {
	margin-top: 0.67em;	
}

button, .button {
	cursor: pointer;
}

.logo {
	display: inline-block;
	width: 133px;
	height: 33px;
}

.map {
	border-radius: 5px;
}

.grid-item .figure {
	margin: 0;
}

.pb-40 {
	padding-bottom: 40px;
}

.pl-30 {
	padding-left: 30px;
}