.form {
	background-color: #fff;
	color: #333;
	max-width: 356px;
	max-height: 550px;
	box-shadow: 0px 4px 28px rgba(6, 6, 90, 0.06);
	border-radius: 5px;
	padding: 46px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.form-control {
	background-color: #F8F8F8;
	border-radius: 5px;
	border: none;
	width: 280px;
	height: 50px;
	margin: 10px 0;
	padding: 0 15px;
}

.form-title {
	padding-bottom: 20px;
}

.form .submit {
	margin-top: 30px;
}

.input-label.name::before {
	content: "Your name";
	font-size: 14px;
	color: #B4B4B4;
	position: relative;
	left: -103px;
	top: 6px;
}

.input-label.tel::before {
	content: "Your Phone Number";
	font-size: 14px;
	color: #B4B4B4;
	position: relative;
	left: -74px;
	top: 6px;
}

.input-label.email::before {
	content: "Your E-mail";
	font-size: 14px;
	color: #B4B4B4;
	position: relative;
	left: -103px;
	top: 6px;
}