.form {
	background-color: #fff;
	color: #333;
	width: 356px;
	max-height: 550px;
	-webkit-box-shadow: 0px 4px 28px rgba(6, 6, 90, 0.06);
	        box-shadow: 0px 4px 28px rgba(6, 6, 90, 0.06);
	border-radius: 5px;
	padding: 40px 38px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	position: relative;
}

.form-control {
	background-color: #F8F8F8;
	border-radius: 5px;
	border: none;
	width: 100%;
	height: 50px;
	margin: 22px 0;
	padding: 0 15px;
}

.form-title {
	padding-bottom: 14px;
	max-width: 280px;
}

.form .submit {
	margin-top: 22px;
}

.input-label.name::before {
	content: "Your name";
	font-size: 14px;
	color: #B4B4B4;
	position: absolute;
	left: 38px;
	top: 135px;
}

.input-label.tel::before {
	content: "Your Phone Number";
	font-size: 14px;
	color: #B4B4B4;
	position: absolute;
	left: 38px;
	top: 225px;
}

.input-label.email::before {
	content: "Your E-mail";
	font-size: 14px;
	color: #B4B4B4;
	position: absolute;
	left: 38px;
	top: 315px;
}

@media(max-width: 1130px) {
	.form {
		width: 570px;
		margin-top: 30px;
	}
}

@media(max-width: 580px) {
	.form {
		width: 400px;
	}
}

@media(max-width: 480px) {
	.form {
		width: 290px;
	}
	.form-title {
		letter-spacing: -1px;
		font-size: 25px;
		margin-bottom: 2px;
	}
}